body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 14px;
  background: #353535;
  color: #ECEFF1;
  white-space: pre-wrap;
}

.label {
  color: #eceff1;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  background: #008b00;
  padding: 7px;
}

.account {
  border-radius: 7px;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
}

/* colors for different account borders */
.account-0 { border: 2px solid #000000; color: #000000; }
.account-1 { border: 2px solid #B71C1C; color: #B71C1C; }
.account-2 { border: 2px solid #880E4F; color: #880E4F; }
.account-3 { border: 2px solid #4A148C; color: #4A148C; }
.account-4 { border: 2px solid #311B92; color: #311B92; }
.account-5 { border: 2px solid #1A237E; color: #1A237E; }
.account-6 { border: 2px solid #0D47A1; color: #0D47A1; }
.account-7 { border: 2px solid #01579B; color: #01579B; }
.account-8 { border: 2px solid #006064; color: #006064; }
.account-9 { border: 2px solid #004D40; color: #004D40; }
.account-10 { border: 2px solid #1B5E20; color: #1B5E20; }
.account-11 { border: 2px solid #33691E; color: #33691E; }
.account-12 { border: 2px solid #827717; color: #827717; }
.account-13 { border: 2px solid #F57F17; color: #F57F17; }
.account-14 { border: 2px solid #FF6F00; color: #FF6F00; }
.account-15 { border: 2px solid #E65100; color: #E65100; }
.account-16 { border: 2px solid #BF360C; color: #BF360C; }
.account-17 { border: 2px solid #3E2723; color: #3E2723; }
.account-18 { border: 2px solid #212121; color: #212121; }
.account-19 { border: 2px solid #263238; color: #263238; }


/* colors for different label backgrounds */
.label-0 { background: #000000; }
.label-1 { background: #B71C1C; }
.label-2 { background: #880E4F; }
.label-3 { background: #4A148C; }
.label-4 { background: #311B92; }
.label-5 { background: #1A237E; }
.label-6 { background: #0D47A1; }
.label-7 { background: #01579B; }
.label-8 { background: #006064; }
.label-9 { background: #004D40; }
.label-10 { background: #1B5E20; }
.label-11 { background: #33691E; }
.label-12 { background: #827717; }
.label-13 { background: #F57F17; }
.label-14 { background: #FF6F00; }
.label-15 { background: #E65100; }
.label-16 { background: #BF360C; }
.label-17 { background: #3E2723; }
.label-18 { background: #212121; }
.label-19 { background: #263238; }
